.bodyDark {
    background-color: #15141a;
    transition: 0.5s;
}

.headerElementsDark {
    background-color: #23222a;
    transition: 0.5s;
}

.headerElementsDark h1 {
    color: #F5F5F5;
}

.headerElementsDark ul li {
    color: #F5F5F5;
}

.darkModeBtn {
    width: 2.5rem;
    height: 1.25rem;
    border: 0.125rem solid #000000;
    border-radius: 0.938rem;
    position: relative;
    cursor: pointer;
}

.darkModeBtn.active {
    border: 0.125rem solid #F5F5F5;
}

.darkModeBtn::before {
    content: "";
    background-color: #000000;
    border-radius: 50%;
    position: absolute;
    width: 0.938rem;
    height: 0.938rem;
    top: 50%;
    left: 3px;
    transform: translateY(-50%);
    transition: left .3s;
}

.darkModeBtn.active::before {
    background-color: #F5F5F5;
    left: 1.375rem;
}

.parentListDark>.productCard {
    border: 0.125rem solid #23222a;
    transition: 0.5s;
}

.parentListDark>.productCard:hover {
    border: 0.125rem solid #e7c6ff;
}

.parentListDark>li>.boxIMG {
    background-color: #23222a;
    transition: 0.5s;
}

.parentListDark>li>.boxInfo>.productCategory {
    color: #FFFFFF;
}

.parentListDark>li>.boxInfo>h2 {
    color: #FFFFFF;
}

.parentListDark>li>.boxInfo>.productDescription {
    color: #F5F5F5;
}

.parentListDark>li>.boxInfo>p {
    color: #e7c6ff;
}

.parentListDark>li>.boxInfo>button {
    background-color: #15141a;
    color: #F5F5F5;
    transition: 0.5s;
}

.parentListDark>li>.boxInfo>button:hover {
    color: #c8b6ff;
}

.asideDark>.cartBox {
    background-color: #23222a;
    transition: 0.5s;
}

.asideDark>.cartBox>.emptyCart>h3 {
    color: #FFFFFF;
}

.asideDark>.cartBox>.emptyCart>p {
    color: #F5F5F5;
}

.cartListDark>.cartItem:hover {
    background-color: #42404d;
    transition: 0.5s;
}

.cartListDark>.cartItem>.cartItemInfo>h3 {
    color: #FFFFFF;
}

.cartListDark>.cartItem>.cartItemInfo>p {
    color: #e7c6ff;
}

.cartListDark>.cartItem>.cartItemInfo>span {
    color: #F5F5F5;
    text-decoration: underline;
}

.cartListDark>.cartItem>.cartItemInfo>span:hover {
    color: #c8b6ff;
}