@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
body {
    background-color: #FFFFFF;
}

.headerElements {
    background-color: #F5F5F5;
    height: 4.375rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.headerElements h1 {
    color: #000000;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 1.875rem;
    line-height: 1.5rem;
}

.filterList {
    display: flex;
}

.filterList li {
    color: #828282;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1rem;
    padding: 0.625rem;
    margin: 0.313rem;
}

.filterList li:hover {
    color: #333333;
    font-weight: 600;
    cursor: pointer;
}

.content {
    display: flex;
}

.mainContainer {
    display: flex;
    flex-wrap: wrap;
    margin: 18px 115px;
    width: 60%;
    align-items: center;
}

.cardsList {
    display: flex;
    flex-wrap: wrap
}

.productCard {
    border: 2px solid #F5F5F5;
    width: 300px;
    margin-right: 50px;
    margin-bottom: 30px;
}

.productCard:hover {
    border: 2px solid #2E245E;
}

.boxIMG {
    background-color: #F5F5F5;
    text-align: center;
    width: 100%;
    height: 154px;
}

.boxInfo {
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 20px 15px;
}

.boxInfo span {
    background-color: #2E245E;
    color: #FFFFFF;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    padding: 7px;
    margin-bottom: 15px;
}

.boxInfo h2 {
    color: #333333;
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 15px;
    width: 280px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.productDescription {
    color: #828282;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    width: 280px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.boxInfo>p {
    color: #2E245E;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.boxInfo button {
    background-color: #FFFFFF;
    color: #828282;
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    text-decoration-line: underline;
    cursor: pointer;
}

.boxInfo button:hover {
    color: #6B54DE;
}

.searchProducts input {
    background-color: #F5F5F5;
    color: #828282;
    border: 1px solid #F5F5F5;
    padding: 15px;
    box-sizing: border-box;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    margin-top: 18px;
    margin-right: 8px;
    width: 246px;
    height: 50px;
}

.searchProducts input:focus {
    border: none;
    outline: none;
}

.searchProducts button {
    background-color: #6B54DE;
    color: #FFFFFF;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    width: 96px;
    height: 50px;
}

.searchProducts button:hover {
    cursor: pointer;
}

.shoppingCart {
    background-color: #6B54DE;
    width: 100%;
    height: 50px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.shoppingCart h2 {
    color: #FFFFFF;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
}

.cartBox {
    background-color: #F5F5F5;
    height: 344px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cartBox h3 {
    color: #333333;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 24px;
    margin-bottom: 10px;
}

.cartBox p {
    color: #828282;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
}